---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to the Description.">
	<h1>Those are the descriptions of the series and maybe a review for myself</h1>
</Layout>

<style>
	
</style>
