---
const { animeRecommendation } = Astro.props;
const { title, images, mal_id } = animeRecommendation;
---

<div class="animeRecommendation font-semibold text-center ">
  <h1 class="text-center min-h-16">{title}</h1>
  <a href="#" id="moreInfoLink" data-mal-id={mal_id}>
    {
      images && images.jpg && (
        <img src={images.jpg.image_url} alt="Anime Image" class="h-72 object-cover w-52 my-8" />
      )
    }
  </a>
</div>

<script>
  import { navigate } from "astro:transitions/client";

  function navigateToPage() {
    window.location.href = "/description";
  }

  function showInformation(animeID: string) {
    fetch(`https://api.jikan.moe/v4/anime/${animeID}/moreinfo`)
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        navigateToPage();
      })
      .catch((error) => {
        console.error("Error fetching anime information:", error);
      });
  }

  const moreInfoLink = document.querySelectorAll("#moreInfoLink");
  if (moreInfoLink) {
    moreInfoLink.forEach((link) => {
      link.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default behavior of anchor tag
        const animeId = link.getAttribute("data-mal-id");
        if (animeId) {
          showInformation(animeId);
        }
      });
    });
  }
</script>
