---

---

<header class="bg-slate-400"
    <div class="flex p-6 max-w-sm space-x-4">
        <img class="w-20" src="https://images.ctfassets.net/4cd45et68cgf/5PKSXKVkI4gXB8UQ8gV6G6/1c0748999a7c23d1e8636ef82a7300bb/02_Logotype_K_NJPA.png">
    </div>
    <div class="flex justify-end bg-slate-400">
        <nav class="flex gap-20">
            <a href="/">Start</a>
            <a href="/description">Description</a>
            <a href="/recommendations">Best characters</a>
        </nav>

    </div>

</header>

