---

---

<header class=" bg-yellow-200"
    <div class="flex p-6 max-w-sm space-x-4">
        <img class="w-32" src="https://images.ctfassets.net/4cd45et68cgf/5PKSXKVkI4gXB8UQ8gV6G6/1c0748999a7c23d1e8636ef82a7300bb/02_Logotype_K_NJPA.png">
    </div>
    <div class="flex justify-end bg-yellow-200">
        <nav class="flex gap-10 mr-10 content-end font-bold text-red-700">
            <a href="/">ANIME RECOMMENDATIONS</a>
            <a href="/description">DESCRIPTION</a>
            <a href="/recommendations">BEST CHARACTERS</a>
        </nav>

    </div>

</header>

