---

---

<header>
    <div class="logo">
        <h1>Here will be the logo</h1>
    </div>

    <nav>
        <a href="/">Start</a>
        <a href="/description">Description</a>
        <a href="/recommendations">Best characters</a>
    </nav>
</header>

<style>
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
</style>